:root {
  //border
  --border-rounded: 0.5rem;
  --border-circle: 1000rem;

  //colors
  --color-white: #fff;
  --color-black: #222;

  --color-purple-400: #8e44ad;
  --color-purple-300: #9b59b6;

  --color-yellow-400: #f1c40f;
  --color-yellow-500: #f39c12;

  --color-gray-100: #ecf0f1;
  --color-gray-200: #bdc3c7;
  --color-gray-300: #95a5a6;
  --color-gray-400: #7f8c8d;
  --color-gray-600: #34495e;
  --color-gray-700: #2c3e50;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--color-gray-400)
}

.container {
  position: relative;
  width: 100vw; /* Postavlja širinu kontejnera na širinu cijelog ekrana */
  height: 100vh; /* Postavlja visinu kontejnera na visinu cijelog ekrana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__box {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
}

.link {
  color: var(--color-black);
  display: block;
}


//IMPORTS
//components
@import "./components/layout.scss";
@import "./components/grid.scss";
@import "./components/header.scss";
@import "./components/nav.scss";
@import "./components/tag.scss";
@import "./components/gallery.scss";
@import "./components/button.scss";
@import "./components/ulmap.scss";
@import "./components/home.scss";
@import "./components/tab.scss";
@import "./components/movie.scss";

//utils
@import "./utils/margins.scss";
